<html>
<head>

<title>Pickup Request</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAaM_sLwiURV29A34WD9kD4xTEnAIqM-Bl8RvAWQX--wxQYWaF3hSzadXTlJzp6USDLBVMnFFYaLq84Q"></script>
<!--script src="cSnap.js"></script-->
</head>
<script>
var ip = '127.0.0.1';

window.onload = function (){
    load();
}

var decodedPoly;
var rendererOptions = {
    suppressMarkers: true,
    draggable: false
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
var directionsService = new google.maps.DirectionsService();
var vars = [], hash;


function calcRoute(olat, olong, dlat, dlong, wp) {

    var request = {
      origin: new google.maps.LatLng(olat, olong),
      destination: new google.maps.LatLng(dlat, dlong),
      waypoints: wp,
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        decodedPoly = google.maps.geometry.encoding.decodePath(directionsDisplay.directions.routes[0].overview_polyline);
        doLoad();
      }
    });
}

var map;
var centerPoint = new GLatLng(32.985700, -96.752514);
var routePoints = Array();
var routePixels = Array();
var routeOverlay = null;
var normalProj = G_NORMAL_MAP.getProjection();    
var threshold = 15; //pixels for proximity
var oSnap;


function load() {
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }

     $.ajax({
        url: 'http://' + ip + ':3000/route-waypoints?route=' + vars.route,    // Pass route name here through a query
        type: 'GET',
        dataType: 'json',
        async: false,
        success: function(data) { 
          var waypts = [];

          for(var i in data){
              if(data[i].wp_lat != null){
                waypts.push({
                    location: new google.maps.LatLng(data[i].wp_lat, data[i].wp_long)
                });
              }
          }
          calcRoute(data[0].originLat, data[0].originLong, data[0].destLat, data[0].destLong, waypts);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('error ' + textStatus + " " + errorThrown);
        }
    });
}

function doLoad() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"), {draggableCursor:"crosshair"});
        map.setCenter(centerPoint, 15);
        map.addControl(new GScaleControl());
        map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());   
    }

    for(var i in decodedPoly){
        addRoutePoint(new GLatLng(decodedPoly[i].k, decodedPoly[i].D));
    }
    mapMove(new GLatLng(vars.lat, vars.lon));
}

function mapMove(point) {
    var oStatusDiv = document.getElementById("statusDiv")    
    if (oSnap){
        oSnap.getDistAlongRoute(point).toFixed(0);
        oStatusDiv.innerHTML =  oSnap.getClosestLatLng(point).k + ", " + oSnap.getClosestLatLng(point).D;
    
        $.ajax({
            url: "http://" + ip + ":3000/doQuery?string=INSERT INTO pickup_request (pickup_request.route_name, pickup_request.lat, pickup_request.long) VALUES ('" + vars.route + "', '" + oSnap.getClosestLatLng(point).k + "', '" + oSnap.getClosestLatLng(point).D + "');", 
            type: 'GET',
            dataType: 'json'
       });
    }
}

function addRoutePoint(point) {
    var zoom = map.getZoom();
    routePoints.push(point);
    var Px = normalProj.fromLatLngToPixel(point, zoom);
    routePixels.push(Px);

    if (routePoints.length > 1){
        plotRoute();
        if ( !oSnap ) {
            oSnap = new cSnapToRoute();
            oSnap.init(map, startMarker, routeOverlay);
        } else {
            oSnap.updateTargets(null, routeOverlay);
        }
    }
    else {
        startMarker = createMarker(point,'Start')
        map.addOverlay(startMarker);
    }
}

function plotRoute() {
    if ( routeOverlay ) {
        map.removeOverlay(routeOverlay);
    }
    routeOverlay = new GPolyline(routePoints,'#FF9601',3,1);
    map.addOverlay(routeOverlay);
}

function createMarker(point, title) {
    var marker = new GMarker(point,{title:title});
    GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(title + '<hr>Lat: ' + point.y + '<br>Lon: ' + point.x);
    });
    return marker;
}

function resetRoute() {
    routePoints = new Array();
    routePixels = new Array();
    map.clearOverlays();
    var oStatusDiv = document.getElementById("statusDiv")    
    oStatusDiv.innerHTML = '';
}



/**
*   Snap marker to closest point on a line.
*
*   Based on Distance to line example by 
*   Marcelo, maps.forum.nu - http://maps.forum.nu/gm_mouse_dist_to_line.html 
*   Then 
*   @ work of Björn Brala - Swis BV who wrapped the algorithm in a class operating on GMap Objects
*   And now 
*   Bill Chadwick who factored the basic algorithm out of the class (removing much intermediate storage of results)
*       and added distance along line to nearest point calculation
*
*
*   Usage:
*
*   Create the class
*       var oSnap = new cSnapToRoute();
*
*   Initialize the subjects
*       oSnap.init(oMap, oMarker, oPolyline);
*
*   If needed change the marker or polyline subjects. use null when no update
*       Change Both:
*           oSnap.updateTargets(oMarker, oPolyline); 
*       Change marker:
*           oSnap.updateTargets(oMarker, null); 
*       Change polyline:
*           oSnap.updateTargets(null, oPolyline); 
**/

function cSnapToRoute(){
    
    this.routePoints    = Array();
    this.routePixels    = Array();
    this.routeOverlay   = null;
    this.normalProj     = G_NORMAL_MAP.getProjection();    
    
    
    /**
    *   @desc Initialize the objects.
    *   @param Map object
    *   @param GMarker object to move along the route
    *   @param GPolyline object - the 'route'
    **/ 
    this.init = function(oMap, oMarker, oPolyline){
        this._oMap      = oMap;
        this._oMarker   = oMarker;
        this._oPolyline = oPolyline;
        
        this.loadRouteData();   // Load needed data for point calculations
    }   
    
    /**
    *   @desc Update targets
    *   @param GMarker object to move along the route
    *   @param GPolyline object - the 'route'
    **/
    this.updateTargets = function(oMarker, oPolyline) {
        this._oMarker   = oMarker   || this._oMarker;
        this._oPolyline = oPolyline || this._oPolyline;
        this.loadRouteData();
    }
        
    /**
    *   @desc internal use only, Load route points into RoutePixel array for calculations, do this whenever zoom changes 
    **/
    this.loadRouteData = function(){
        var zoom = this._oMap.getZoom();
        this.routePixels = new Array();
        for ( var i = 0; i < this._oPolyline.getVertexCount(); i++ ) {
            var Px = this.normalProj.fromLatLngToPixel(this._oPolyline.getVertex(i), zoom);
            this.routePixels.push(Px);
        }
    }
    
    /**
    *   @desc Get closest point on route to test point
    *   @param GLatLng() the test point
    *   @return new GLatLng();
    **/
    this.getClosestLatLng = function(latlng){
        var r = this.distanceToLines(latlng);
        return this.normalProj.fromPixelToLatLng(new GPoint(r.x,r.y), this._oMap.getZoom());
    }

    /**
    *   @desc Get distance along route in meters of closest point on route to test point
    *   @param GLatLng() the test point
    *   @return distance in meters;
    **/
    this.getDistAlongRoute = function(latlng){
        var r = this.distanceToLines(latlng);
        return this.getDistToLine(r.i, r.fTo);
    } 
    
    /**
    *   @desc internal use only, gets test point xy and then calls fundamental algorithm
    **/
    this.distanceToLines = function(mouseLatLng) {
        var zoom        = this._oMap.getZoom();
        var mousePx     = this.normalProj.fromLatLngToPixel(mouseLatLng, zoom);
        var routePixels = this.routePixels;                
        return getClosestPointOnLines(mousePx,routePixels);
    }  
      
    /**
    *   @desc internal use only, find distance along route to point nearest test point
    **/
    this.getDistToLine = function(iLine, fTo){

        var routeOverlay = this._oPolyline;
      var d = 0;
        for (var n = 1 ; n < iLine ; n++ ) 
            d += routeOverlay.getVertex(n-1).distanceFrom(routeOverlay.getVertex(n));
        d += routeOverlay.getVertex(iLine-1).distanceFrom(routeOverlay.getVertex(iLine)) * fTo;
        
        return d;
    }


}

    /* desc Static function. Find point on lines nearest test point
       test point pXy with properties .x and .y
       lines defined by array aXys with nodes having properties .x and .y 
       return is object with .x and .y properties and property i indicating nearest segment in aXys 
       and property fFrom the fractional distance of the returned point from aXy[i-1]
       and property fTo the fractional distance of the returned point from aXy[i]   */
          

function getClosestPointOnLines (pXy,aXys) {

    var minDist;       
    var fTo;
    var fFrom;
    var x;
    var y;
    var i;
    var dist;
        
    if (aXys.length > 1){
        
        for (var n = 1 ; n < aXys.length ; n++ ) {

            if (aXys[n].x != aXys[n-1].x) {
                var a = (aXys[n].y - aXys[n-1].y) / (aXys[n].x - aXys[n-1].x);
                var b = aXys[n].y - a * aXys[n].x;
                dist = Math.abs(a*pXy.x + b - pXy.y) / Math.sqrt(a*a+1);
            }
            else 
                dist = Math.abs(pXy.x - aXys[n].x)
                
            // length^2 of line segment 
            var rl2 = Math.pow(aXys[n].y - aXys[n-1].y,2) + Math.pow(aXys[n].x - aXys[n-1].x,2);
                
            // distance^2 of pt to end line segment
            var ln2 = Math.pow(aXys[n].y - pXy.y,2) + Math.pow(aXys[n].x - pXy.x,2);

            // distance^2 of pt to begin line segment
            var lnm12 = Math.pow(aXys[n-1].y - pXy.y,2) + Math.pow(aXys[n-1].x - pXy.x,2);

            // minimum distance^2 of pt to infinite line
            var dist2 = Math.pow(dist,2);
                
            // calculated length^2 of line segment
            var calcrl2 = ln2 - dist2 + lnm12 - dist2;

            // redefine minimum distance to line segment (not infinite line) if necessary
            if (calcrl2 > rl2) 
                dist = Math.sqrt( Math.min(ln2,lnm12) );                               
                
            if ( (minDist == null) || (minDist > dist) ) {
                if(calcrl2 > rl2){
                    if(lnm12 < ln2){
                        fTo = 0;//nearer to previous point
                        fFrom = 1;
                    }
                    else{
                        fFrom = 0;//nearer to current point
                        fTo = 1;
                    }
                }
                else {
                    // perpendicular from point intersects line segment
                    fTo  = ((Math.sqrt(lnm12 - dist2)) / Math.sqrt(rl2));
                    fFrom = ((Math.sqrt(ln2 - dist2))   / Math.sqrt(rl2));
                }
                minDist = dist;
                i = n;               
            }    
        }
            
        var dx = aXys[i-1].x - aXys[i].x;
        var dy = aXys[i-1].y - aXys[i].y;

        x = aXys[i-1].x - (dx * fTo);
        y = aXys[i-1].y - (dy * fTo);

    }    

    return {'x':x, 'y':y, 'i':i, 'fTo':fTo, 'fFrom':fFrom};

}


</script>
<body>
    <div id="map" style="width: 700px; height: 500px"></div>
    <div id="statusDiv">inside div</div>
</body>
</html>